@media screen and (min-width:1100px) {
    /* #page-landing #container {
        max-width: 1100px;
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-rows: 350px 1fr;
        grid-template-areas: 
        "proffy image image"
        "footer footer footer"
        ; 
        column-gap: 87px;
        row-gap: 86px; 
    }
    .logo-container {
        grid-area: proffy; 
        text-align: initial;
        margin-top: 2rem;
    }
    .logo-container img {
        height: 110px;
    }
    .hero-image {
        grid-area: image; 
        height: 350px;
    }
    .buttons-container {
        grid-area: button; 
        justify-content: flex-start;
    }
    .total-connections {
        grid-area: texting;
        width: 200px;
        text-align: end;
    }
    .total-connections img {
        margin: 0;
        margin-left: 2rem;
    }
    .welcome {
        align-self: center;
        font-size: 2.4rem;
        grid-area: welcome; 
    }
    footer {
        display: grid;
        grid-area: footer;
        grid-template-areas: "welcome button texting";
    } */
    #page-landing {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    #page-landing #container {
        max-width: 1100px;
        height: 70vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "logo image image";
        align-items: center;
    }
    #page-landing .logo-container {
        text-align: left;
        grid-area: logo;
    }
    #page-landing .hero-image {
        grid-area: image;
        height: 350px;
    }
    .buttons-container .study {
        background-color: var(--color-primary-dark);
    }
    footer {
        flex: 1;
        background: var(--color-background);
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }
    .welcome {
        color: var(--color-primary-darker);
    }
    .total-connections {
        color: var(--color-primary-dark);
    }
}