@media screen and (min-width:1100px) {
    #page-landing {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    #page-landing #container {
        max-width: 1100px;
        height: 70vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "logo image image";
        align-items: center;
    }
    #page-landing .logo-container {
        text-align: left;
        grid-area: logo;
    }
    #page-landing .hero-image {
        grid-area: image;
        height: 350px;
    }
    .buttons-container .study {
        background-color: var(--color-primary-dark);
    }
    footer {
        flex: 1;
        background: var(--color-background);
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }
    .welcome {
        color: var(--color-primary-darker);
    }
    .total-connections {
        color: var(--color-primary-dark);
    }
}